#document
{
	margin-left: auto;
	margin-right: auto;
	width: 760px;
}

#header
{
	display: block;
}

#task-root-list
{
	padding: 0px;
}

#prototype
{
	display: none;
}

#github
{
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}

body
{
	font-family: 'Merriweather', arial, serif;
}

.task
{
	list-style-type: none;
	list-style-position: inside;
	margin: 0px;
	padding: 0px;
}

.ui-state-highlight
{
	background:black;
	opacity: 0.35;
}

.task-close
{
	padding: 2px;
	text-align: center;
	width: 20px;
}

.task-close:hover
{
	background: blue;
}

.task-insert-after
{
	padding: 2px;
	border-radius: 2px;
	text-align: center;
}

.task-insert-child
{
	padding: 2px;
	border-radius: 2px;
	text-align: center;
}

.task-insert-after:hover
{
	background:black;
	opacity: 0.35;
}

.task-insert-child:hover
{
	background:black;
	opacity: 0.35;
}

.task-children
{
	position: relative;
	left: 30px;
}

.task-title-edit
{
	display: none;
	width: 85%;
	padding: 2px;
}

.task-title
{
	margin-left: 30px;
	padding: 2px;
}

.button
{
	display:inline-block;
	width:16px; height:16px;
	padding: 2px;
	opacity: 0.05;
}

.task > div:hover > .button:hover
{
	opacity: 1;
}

.task > div:hover > .button
{
	opacity: 0.35;
}

.checkbox-unchecked {
	opacity: 0.35;
	background:url("img/cc/black/png/checkbox_unchecked_icon&16.png") no-repeat center;
}

.checkbox-checked {
	opacity: 0.35;
	background:url("img/cc/black/png/checkbox_checked_icon&16.png") no-repeat center;
}

.delete {
	background:url("img/cc/black/png/delete_icon&16.png") no-repeat center;
}

.calendar {
	background:url("img/cc/black/png/calendar_1_icon&16.png") no-repeat center;
}

.note {
	background:url("img/cc/black/png/notepad_2_icon&16.png") no-repeat center;
}
